@use "../../assets/base";

.step_container {
  width: 100%;

  .title {
    color: base.$marine_blue;
    padding: 0.7rem 0;
  }
  .description {
    color: base.$cool_gray;
    line-height: 1.5rem;
    font-size: 1.1rem;
    padding-bottom: 1rem;
  }
}
.thankyou{
  margin: 60px 0;
  &:before{
    content: "";
    display: block;
    background-image: url(../../assets/icon-thank-you.svg);
    background-size: contain;
    height: 80px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
  }
  & > * {
    text-align: center;
    margin-top: 20px;
  }
  .title{
    font-size: 2rem;
  }
}
