@use "../../assets/base";

.step_container {
  width: 100%;

  .title {
    color: base.$marine_blue;
    padding: 0.7rem 0;
  }
  .description {
    color: base.$cool_gray;
    line-height: 1.5rem;
    font-size: 1.1rem;
    padding-bottom: 1rem;
  }
}
