@use "../../../assets/base";

.input_container {
  padding-bottom: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  row-gap: 5px;
  label {
    color: base.$marine_blue;
    text-align: left;
    font-size: 0.8rem;
    font-weight: 500;
    display: inline-block;
  }
  input {
    grid-column: 1/3;
    color: base.$marine_blue;
    border-radius: base.$border-radius-avg;
    border: 1px solid base.$light_gray;
    width: 100%;
    padding: 0.6rem;
    font-weight: 700;
    font-size: 0.8rem;

    &:focus {
      outline: none !important;
      border-color: base.$purplish_blue;
    }

    &::placeholder {
      font-weight: 500;
      color: base.$cool_gray;
    }
  }

  & > .error_msg + input {
    border-color: base.$strawberry_red;
  }
}
