@use "../../assets/base";

@keyframes rotateAnim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

$icon-border-size: 2px;
@mixin radio-bg-image {
  background-image: linear-gradient(
    to left top,
    #473dff,
    #e800bb,
    #ff487e,
    #ff9265,
    #f9ca7f
  );
  animation: 8s linear 0s infinite rotateAnim;
}

@mixin focus-radiobutton {
  .default_icon {
    div::before {
      content: "";
      border-radius: 50%;
      width: calc(100% - 2 * ($icon-border-size));
      height: calc(100% - 2 * ($icon-border-size));
      background-color: base.$magnolia;
      position: absolute;
    }
  }
}

@mixin checked-radiobutton {
  @include focus-radiobutton;
  .default_icon {
    div::after {
      position: absolute;
      content: "";
      border-radius: 50%;
      margin: calc(35% - $icon-border-size);
      width: 30%;
      height: 30%;
      @include radio-bg-image;
    }
  }
}

.radio_option {
  img,
  .default_icon {
    padding: $icon-border-size;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: relative;
    margin-right: 1rem;
  }
  .default_icon {
    @include radio-bg-image;
    div {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      background-color: base.$white;
    }
  }

  // &:has(input[type="radio"]:checked)
  &.input_checked {
    @include checked-radiobutton;
    background: base.$magnolia;
      border-color: base.hslac(base.$purplish_blue, 60%);
  }

  &:hover {
    @include focus-radiobutton;
  }

  div {
    display: inline-block;
    * {
      cursor: pointer;
    }

    input {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
    }
    label {
      font-weight: 700;
    }
    p {
      color: base.$cool_gray;
    }
  }
}
