@use '../../assets/base';

@mixin card {
  border-radius: 12px;
  padding: 2.2rem;
  width: 100%;
  margin: 0 auto;
}

.primary_card {
  @include card;
  background-color: base.$white;
}

.secondary_card {
  @include card;
  background-color: base.$white;
  border: 1px solid base.$light_gray;
}

.accent_card {
  @include card;
  background-color: base.$magnolia;
}

.padding_none{
  padding: 0;
}

.padding_small{
  padding: 0.7rem;
}

.padding_medium {
 padding: 1.8rem;
}