@use "../../assets/base";

.loadingBars {
  div {
    margin: 20px 0;
    border-radius: 8px;
    width: 100%;
    height: 36px;
    background: base.hslac(base.$light_blue, 0.5) linear-gradient(to right, transparent 40%, hsla(0, 0%, 100%, 0.5) 50%, transparent 60%);
    background-size: 300%;
    background-position-x: 100%;
    animation: shimmer 1s infinite linear;
  }
}
@keyframes shimmer {
  to {
     background-position-x: 0%
  }
}
